.banner {
    margin-bottom: 30px;
}

#loading-canvas #canvas {
    background: #eeeff2;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    z-index: 2;
}

#loading-canvas .glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

#loading-canvas #spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
}

#loading-canvas .glyphicon.large {
    font-size: 50px;
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.block {
    display: block;
}

.form {
    margin-bottom: 30px;
}

#translated-text {
    height: 181px;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

